Name: Muley, Tushar
Title: Exercise_1-2_Week_1
Date: March 21, 2021

In [1]:
#Import libraries
import pandas as pd
import numpy as np

1. Create an array of size [10,50] and use the random function to fill it with integers between 1 and 500 (inclusive). Load it to a DataFrame.

In [3]:
#Create the smaller 3 by 2 array with random numbers
my_array = np.random.randint(1,5, size=(3, 2))
print(my_array)

[[4 3]
 [1 2]
 [2 2]]

In [4]:
#Create array of size [10,50] with random numbers between 1 and 500 inclusive
my_large_array = np.random.randint(1,501,size = (10,50))
print(my_large_array)

[[268 341  38 174 370 384  83 349  82 104 453 433 189 389   3  41 312 236
   24 120 370  90 259  41 430 361 352  17  84 197 419 127 358 146 302  29
  264 286  81 355 137  41 346 127 204  89 440 425 124  77]
 [298 264 449  92   1 148 138 351 180  97 221 428  76 454 363 351  30  35
  280  65  23  79 187 353 260 110 402 431 496 273  44  11 167 447  45 368
  156 387 363 138 179 221 127 102 179 267 412 313 218 155]
 [213 239 296  49 143 275 163 437 401   8 183  38 334 480 393 187 138 343
  116 272  81 142 358  13 218 263 430  80 183 250 418 384 363 141 390 410
   13 371 356 371 447  14  82 454  90 360  30   7  44 403]
 [  4 402  90 485 421  56 369  76 222 422 345 161 410 147 295  53 196 412
  254 495 354 215 233 401 104 184 247 424 255 102 455  70  23  95 178 216
   36  90 114 388 443  82 127 348 191  69 341 262 487 331]
 [304 156 189 199 401 440 381 492 107 496 237  11 294 293  75  38 163  90
  484  79  84  56 198   7 479 244 277 341 100 357 220  48  75 477 239 387
   32 329  65 163 270 472 251 205 311  90 222 111 420 442]
 [275 129 203  74 183 297  55 299 277 200 271 202 186 294 316 375 261 120
   14 442 369 272 112 359 345 496 461 200 258 306 387 194  87  55 328 263
   80  98 390 402  71 276 443 163 372 398 400 484 292 428]
 [160 137 289  89 499 446 464 375  61 236   1  88 460 385 120 185 366 452
  163 252  11 112 459 474  93  20  99 406 111 317 232  78 293 397 454 382
  182 190 496 462 199 432 135 477   1 381 338  34  92 238]
 [152 128 417 295 162  24 136 240 282 481 347 299 345 361  80 193 232 273
  441 142  73 320  87 166 304  44 423 476 180 147 220  98 493 187 126 112
  395 337 303 203 200 248 150 211 339 221 429 242 280 430]
 [173  19 302 199  49 142 425 477 249 381 106 243 328 301 114 144 186   8
  236 475  58 410 280  78 456 415 188 377  83 305 253 195 394 484 122 309
  327 464 300 411 152 251 274 357 390  45 466 116 431 428]
 [259  96 147 234 276 377 270  36 192 189 375 441 256 468  35 210   8 411
  201 188 296 195 130 176 418 177 178 294 181 474 310 264 261  60 210 339
  311 403 166  68 373  71 400 246 118 238  25 177  39 372]]

In [41]:
#Load it to a dataframe
my_df = pd.DataFrame(data=my_large_array)
my_df

,0,1,2,3,4,5,6,7,8,9,...,40,41,42,43,44,45,46,47,48,49
0,147,231,366,486,72,7,391,108,72,276,...,85,84,207,496,467,170,392,316,411,43
1,204,173,154,162,396,484,8,330,78,462,...,58,413,66,306,350,487,166,174,307,399
2,290,299,440,44,47,101,485,80,422,302,...,11,484,382,42,217,381,107,275,196,5
3,426,12,109,234,283,33,390,178,471,214,...,433,497,384,498,477,59,476,288,51,281
4,197,436,466,58,231,470,320,147,99,451,...,196,278,95,434,233,142,310,6,48,103
5,286,268,202,148,131,292,39,201,389,465,...,444,2,330,217,273,209,257,163,227,488
6,250,478,116,450,94,453,179,144,433,159,...,408,197,326,168,305,289,28,91,373,426
7,112,168,476,395,162,288,380,94,78,178,...,272,75,156,255,100,200,194,156,114,289
8,417,115,484,28,368,407,279,394,188,92,...,191,186,457,290,315,31,18,316,311,36
9,328,137,323,116,149,317,461,41,357,479,...,372,273,263,165,287,229,145,29,430,378

In [42]:
my_df.shape

(10, 50)

2. Calculate the sum of each row; the sum of each column; and the sum of all entries.

In [43]:
#Calculate the sum of each row
my_df ["sum_row"] = my_df.sum(axis=1)
print(my_df)

     0    1    2    3    4    5    6    7    8    9  ...   41   42   43   44  \
0  147  231  366  486   72    7  391  108   72  276  ...   84  207  496  467
1  204  173  154  162  396  484    8  330   78  462  ...  413   66  306  350
2  290  299  440   44   47  101  485   80  422  302  ...  484  382   42  217
3  426   12  109  234  283   33  390  178  471  214  ...  497  384  498  477
4  197  436  466   58  231  470  320  147   99  451  ...  278   95  434  233
5  286  268  202  148  131  292   39  201  389  465  ...    2  330  217  273
6  250  478  116  450   94  453  179  144  433  159  ...  197  326  168  305
7  112  168  476  395  162  288  380   94   78  178  ...   75  156  255  100
8  417  115  484   28  368  407  279  394  188   92  ...  186  457  290  315
9  328  137  323  116  149  317  461   41  357  479  ...  273  263  165  287

    45   46   47   48   49  sum_row
0  170  392  316  411   43    11994
1  487  166  174  307  399    12519
2  381  107  275  196    5    11447
3   59  476  288   51  281    14522
4  142  310    6   48  103    12062
5  209  257  163  227  488    11956
6  289   28   91  373  426    11507
7  200  194  156  114  289    12808
8   31   18  316  311   36    12907
9  229  145   29  430  378    12920

[10 rows x 51 columns]

In [45]:
#Calculate the sum of each column
my_df["sum_column"] = my_df.sum(axis=0)
my_df["sum_column"]

0    2657
1    2317
2    3136
3    2121
4    1933
5    2852
6    2932
7    1717
8    2587
9    3078
Name: sum_column, dtype: int64

In [5]:
#Get a clean dataframe
my_df2 = pd.DataFrame(data=my_large_array)
my_df2

,0,1,2,3,4,5,6,7,8,9,...,40,41,42,43,44,45,46,47,48,49
0,268,341,38,174,370,384,83,349,82,104,...,137,41,346,127,204,89,440,425,124,77
1,298,264,449,92,1,148,138,351,180,97,...,179,221,127,102,179,267,412,313,218,155
2,213,239,296,49,143,275,163,437,401,8,...,447,14,82,454,90,360,30,7,44,403
3,4,402,90,485,421,56,369,76,222,422,...,443,82,127,348,191,69,341,262,487,331
4,304,156,189,199,401,440,381,492,107,496,...,270,472,251,205,311,90,222,111,420,442
5,275,129,203,74,183,297,55,299,277,200,...,71,276,443,163,372,398,400,484,292,428
6,160,137,289,89,499,446,464,375,61,236,...,199,432,135,477,1,381,338,34,92,238
7,152,128,417,295,162,24,136,240,282,481,...,200,248,150,211,339,221,429,242,280,430
8,173,19,302,199,49,142,425,477,249,381,...,152,251,274,357,390,45,466,116,431,428
9,259,96,147,234,276,377,270,36,192,189,...,373,71,400,246,118,238,25,177,39,372

In [48]:
#Calculate the sum of all entries
my_df2.values.sum()

124642

3. Determine the minimum; maximum; average; and standard deviation of all entries.

In [49]:
#Determine the maximum of all entries for array
np.max(my_large_array)

498

In [53]:
#Determine the maximum of all entries for dataframe
my_df2.values.max()

498

In [50]:
#Determine the minmum of all entries for array
np.min(my_large_array)

1

In [54]:
#Determine the minmum of all entries for dataframe
my_df2.values.min()

1

In [51]:
#Determine the average of all entries for array
np.mean(my_large_array)

249.284

In [55]:
#Determine the average of all entries for dataframe
my_df2.values.mean()

249.284

In [52]:
#Determine the standard deviation of all entries for array
np.std(my_large_array)

148.4106038799115

In [56]:
#Determine the standard deviation of all entries for dataframe
my_df2.values.std()

148.4106038799115

In [59]:
my_df2

,0,1,2,3,4,5,6,7,8,9,...,40,41,42,43,44,45,46,47,48,49
0,147,231,366,486,72,7,391,108,72,276,...,85,84,207,496,467,170,392,316,411,43
1,204,173,154,162,396,484,8,330,78,462,...,58,413,66,306,350,487,166,174,307,399
2,290,299,440,44,47,101,485,80,422,302,...,11,484,382,42,217,381,107,275,196,5
3,426,12,109,234,283,33,390,178,471,214,...,433,497,384,498,477,59,476,288,51,281
4,197,436,466,58,231,470,320,147,99,451,...,196,278,95,434,233,142,310,6,48,103
5,286,268,202,148,131,292,39,201,389,465,...,444,2,330,217,273,209,257,163,227,488
6,250,478,116,450,94,453,179,144,433,159,...,408,197,326,168,305,289,28,91,373,426
7,112,168,476,395,162,288,380,94,78,178,...,272,75,156,255,100,200,194,156,114,289
8,417,115,484,28,368,407,279,394,188,92,...,191,186,457,290,315,31,18,316,311,36
9,328,137,323,116,149,317,461,41,357,479,...,372,273,263,165,287,229,145,29,430,378

4. Sort the DataFrame: 
a) sort on column 2

In [7]:
#Sort by column 2 which is index 1
my_df2.sort_values(by=my_df2.columns[1])

,0,1,2,3,4,5,6,7,8,9,...,40,41,42,43,44,45,46,47,48,49
8,173,19,302,199,49,142,425,477,249,381,...,152,251,274,357,390,45,466,116,431,428
9,259,96,147,234,276,377,270,36,192,189,...,373,71,400,246,118,238,25,177,39,372
7,152,128,417,295,162,24,136,240,282,481,...,200,248,150,211,339,221,429,242,280,430
5,275,129,203,74,183,297,55,299,277,200,...,71,276,443,163,372,398,400,484,292,428
6,160,137,289,89,499,446,464,375,61,236,...,199,432,135,477,1,381,338,34,92,238
4,304,156,189,199,401,440,381,492,107,496,...,270,472,251,205,311,90,222,111,420,442
2,213,239,296,49,143,275,163,437,401,8,...,447,14,82,454,90,360,30,7,44,403
1,298,264,449,92,1,148,138,351,180,97,...,179,221,127,102,179,267,412,313,218,155
0,268,341,38,174,370,384,83,349,82,104,...,137,41,346,127,204,89,440,425,124,77
3,4,402,90,485,421,56,369,76,222,422,...,443,82,127,348,191,69,341,262,487,331

4. Sort the DataFrame: 
b) sort on row 2.

In [10]:
#Sort everything based off row 2 which is index as 1
my_df2.sort_values(by=1, axis=1)

,4,31,20,16,17,30,34,19,12,21,...,35,37,26,46,11,27,33,2,13,28
0,370,127,370,312,236,419,302,120,189,90,...,29,286,352,440,433,17,146,38,389,84
1,1,11,23,30,35,44,45,65,76,79,...,368,387,402,412,428,431,447,449,454,496
2,143,384,81,138,343,418,390,272,334,142,...,410,371,430,30,38,80,141,296,480,183
3,421,70,354,196,412,455,178,495,410,215,...,216,90,247,341,161,424,95,90,147,255
4,401,48,84,163,90,220,239,79,294,56,...,387,329,277,222,11,341,477,189,293,100
5,183,194,369,261,120,387,328,442,186,272,...,263,98,461,400,202,200,55,203,294,258
6,499,78,11,366,452,232,454,252,460,112,...,382,190,99,338,88,406,397,289,385,111
7,162,98,73,232,273,220,126,142,345,320,...,112,337,423,429,299,476,187,417,361,180
8,49,195,58,186,8,253,122,475,328,410,...,309,464,188,466,243,377,484,302,301,83
9,276,264,296,8,411,310,210,188,256,195,...,339,403,178,25,441,294,60,147,468,181